@inherits LayoutComponentBase
<RadzenStack Orientation="Orientation.Horizontal">
    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenLink Path="/" Text="@Translator.GetTranslation(nameof(Translation.Home))" />
        @foreach (var navigation in ReflectionUtils.CreateInstancesOfInterface<INavigation>(App.Assemblies))
        {
            <RadzenLink Icon="@navigation.Icon" Path="@navigation.Path" Text="@Translator.GetTranslation(navigation.Text)" />
        }
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Vertical">
        @this.Body
    </RadzenStack>
</RadzenStack>
<AuthorizeView>
    <Authorized>
        <RadzenLabel Text="@($"user: {context.User.Identity?.Name}, claims: {string.Join(", ", context.User.Claims.Select(x => x.Type))}")" />
    </Authorized>
</AuthorizeView>
<div id="blazor-error-ui" style="display: none;">
    <RadzenLabel Text="@Translator.GetTranslation(nameof(Translation.UnhandledExceptionOccured))" />
    <RadzenLink Path="" Text="@Translator.GetTranslation(nameof(Translation.Reload))" />
    <RadzenLink Text="X" />
</div>